.login-pf body {
    background-image: url("../img/pizza-wallpaper.webp");
    background-size: 300px 200px, contain !important;
    background-repeat: repeat;
}

#kc-header-wrapper {
    opacity: 0;
}
